<div class="wraper">
    <div class="list">
        <!-- D3 Fundamentals -->
        <button class="styled" routerLink="svg-basics">SVG Basics</button>
        <button class="styled" routerLink="selections-data-binding">Selections & Data Binding</button>
        <button class="styled" routerLink="scales">Scales (Linear, Ordinal, Time)</button>
        <button class="styled" routerLink="dom-manipulation">DOM Manipulation</button>
        <button class="styled" routerLink="data-loading">Data Loading (CSV/JSON)</button>
        <button class="styled" routerLink="basic-transitions">Basic Transitions</button>

        <!-- Intermediate D3 -->
        <button class="styled" routerLink="advanced-scales">Advanced Scales</button>
        <button class="styled" routerLink="axes-legends">Axes & Legends</button>
        <button class="styled" routerLink="path-generators">Path Generators</button>
        <button class="styled" routerLink="layouts">Layouts (Stack, Pie, etc.)</button>
        <button class="styled" routerLink="force-layouts">Force Layouts</button>
        <button class="styled" routerLink="zoom-pan">Zoom & Pan</button>
        <button class="styled" routerLink="brush-components">Brush Components</button>
        <button class="styled" routerLink="event-handling">Event Handling</button>
        
  
        <!-- Interview Prep Topics -->
        <button class="styled" routerLink="real-world-scenarios">Interview-d3</button> 
    </div>

    <div class="sub-components-wraper">
        <router-outlet></router-outlet>
    </div>
</div>