<div class="wraper">
        <div class="list">
        <button class="styled" routerLink="data-types">Data Types & Tables</button>
        <button class="styled" routerLink="basic-queries">Basic Queries</button>
        <button class="styled" routerLink="filtering">Filtering & Sorting</button>
        <button class="styled" routerLink="joins">Joins & Relationships</button>
        <!-- Intermediate -->
        <button class="styled" routerLink="aggregations">Aggregation Functions</button>
        <button class="styled" routerLink="window-functions">Window Functions</button>
        <button class="styled" routerLink="subqueries">Subqueries & CTEs</button>
        <button class="styled" routerLink="stored-procedures">Stored Procedures & Functions</button>
        <button class="styled" routerLink="transactions">Transactions & ACID</button>
        <button class="styled" routerLink="indexing">Indexing & Constraints</button>
        <button class="styled" routerLink="advanced-sql">Interview-sql</button>
    </div>

    <div class="sub-components-wraper">
        <router-outlet></router-outlet>
    </div>
</div>
