<div class="wraper">
    <div class="list">
        <!-- Fundamentals -->
        <button class="styled" routerLink="controleflow">Control Flow </button>
        <button class="styled" routerLink="functions">Functions</button>
        <button class="styled" routerLink="array-methods">Array Methods</button>
        <!-- Intermediate -->
        <button class="styled" routerLink="clousers">Closures</button>
        <button class="styled" routerLink="prototypes">Prototypes & Inheritance</button>
        <button class="styled" routerLink="promises">Promises & Async/Await</button>
        <button class="styled" routerLink="dom">DOM Manipulation</button> 
        <button class="styled" routerLink="math">Math</button>
        <button class="styled" routerLink="date">Date & Time</button>
        <button class="styled" routerLink="string-methods">String Methods</button>
        <button class="styled" routerLink="interview-js">Interview-Js</button> 
    </div>
    <div class="sub-components-wraper">
        <router-outlet></router-outlet>
    </div>
</div>
