<div class="wraper">
    <div class="list">
        <!-- Angular Fundamentals -->
        <button class="styled" routerLink="typescript-essentials">TypeScript Essentials</button>
        <button class="styled" routerLink="components-decorators">Components & Decorators</button>
        <button class="styled" routerLink="data-binding">Data Binding</button>
        <button class="styled" routerLink="directives-pipes">Directives & Pipes</button>
        <button class="styled" routerLink="lifecycle-hooks">Lifecycle Hooks</button>
        <button class="styled" routerLink="templates-forms">Templates & Forms</button>
       <!-- Intermediate Angular -->
        <button class="styled" routerLink="services-di">Services & Dependency Injection</button>
        <button class="styled" routerLink="routing-navigation">Routing & Navigation</button>
        <button class="styled" routerLink="observables-rxjs">Observables & RxJS</button>
        <button class="styled" routerLink="http-client">HTTP Client</button>
        <button class="styled" routerLink="angular-material">Angular Material</button>
        <button class="styled" routerLink="state-management">State Management Basics</button>

        <!-- Advanced Angular -->
        <button class="styled" routerLink="ngrx-redux">NgRx / Redux</button>
        <button class="styled" routerLink="change-detection">Change Detection</button>
        <button class="styled" routerLink="performance-optimization">Performance Optimization</button>
        <button class="styled" routerLink="lazy-loading">Lazy Loading</button>
        <button class="styled" routerLink="unit-e2e-testing">Unit & E2E Testing</button>
        <button class="styled" routerLink="security">Security Best Practices</button>
        <button class="styled" routerLink="custom-directives-pipes">Custom Directives & Pipes</button>
        <button class="styled" routerLink="dynamic-components">Dynamic Components</button>

        <!-- Interview Practice (Angular) -->
        <button class="styled" routerLink="component-communication">Component Communication</button>
        <button class="styled" routerLink="complex-forms">Complex Forms & Validations</button>
        <button class="styled" routerLink="routing-guards-resolvers">Routing Guards & Resolvers</button>
        <button class="styled" routerLink="custom-directives-pipes-practice">Custom Directives/Pipes Practice</button>
        <button class="styled" routerLink="state-management-practice">State Management Practice</button>
        <button class="styled" routerLink="unit-testing-practice">Unit Testing Practice</button>
        <button class="styled" routerLink="performance-techniques">Performance Techniques</button>
    </div>

    <div class="sub-components-wraper">
        <router-outlet></router-outlet>
    </div>
</div>