<div class="wraper">
  <h1>Fullstack Technologies</h1>

  <div class="card-wraper">
    
    <div class="card" routerLinkActive="active" routerLink="javascript/controleflow" (click)="navigateTo('javascript/controleflow')">
      JavaScript
    </div>
    <div class="card" routerLinkActive="active" routerLink="typescript" (click)="navigateTo('typescript')">
      TypeScript
    </div>
    <div class="card" routerLinkActive="active" routerLink="angular" (click)="navigateTo('angular')">
      Angular
    </div>
    <div class="card" routerLinkActive="active" routerLink="d3js" (click)="navigateTo('d3js')">
      D3 Js
    </div>
    <div class="card" routerLinkActive="active" routerLink="nodejs" (click)="navigateTo('nodejs')">
      Node Js
    </div>
    <div class="card" routerLinkActive="active" routerLink="nestjs" (click)="navigateTo('nestjs')">
      Nest Js
    </div>
    <div class="card" routerLinkActive="active" routerLink="sql/sql" (click)="navigateTo('sql/sql')">
      sql
    </div>
    <div class="card" routerLinkActive="active" routerLink="gitHub/gitprocess" (click)="navigateTo('gitHub/gitprocess')">
      Git Hub
    </div>
    <div class="card" routerLinkActive="active" routerLink="aws/deployment" (click)="navigateTo('aws/deployment')">
      Aws
    </div>
  </div>
  <div class="modules">
    <router-outlet></router-outlet>
  </div>
</div>




