<div class="wraper">
  <h1>Fullstack Technologies</h1>

  <div class="card-wraper">
    <div class="card" routerLinkActive="active"  (click)="navigateTo('javascript')">
      JavaScript
    </div>
    <div class="card" routerLinkActive="active" (click)="navigateTo('typescript')">
      TypeScript
    </div>
    <div class="card" routerLinkActive="active"  (click)="navigateTo('angular')">
      Angular
    </div>
    <div class="card" routerLinkActive="active"  (click)="navigateTo('d3js')">
      D3 Js
    </div>
    <div class="card" routerLinkActive="active"  (click)="navigateTo('nest')">
      Nest Js
    </div>
    <div class="card" routerLinkActive="active"  (click)="navigateTo('sql')">
      SQL
    </div>
    <div class="card" routerLinkActive="active"  (click)="navigateTo('gitHub')">
      Git Hub
    </div>
    <div class="card" routerLinkActive="active"  (click)="navigateTo('aws')">
      Aws
    </div>
     <div class="card" routerLinkActive="active"  (click)="navigateTo('store')">
       Highlights  Store
    </div>
  </div>
  <div class="modules">
    <router-outlet></router-outlet>
  </div>
</div>




