p,h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
.wraper{
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    h1{
        padding-bottom: 10px;
        text-align: center;
    }
    .card-wraper{ 
        width: 100%;
        display: flex;
        justify-content: center; 
        align-items: start;
        flex-wrap: wrap;
        gap: 20px;
        cursor: pointer;
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: aliceblue;
            width: 100px;
            height: 50px;
            border-radius: 10px;    
    }
   
} 
.modules{
    width: 99%;
    padding-top: 10px;
}  
  
}

 .active{
    background-color: red;
}

