/* Scrollbar Track */
::-webkit-scrollbar {
    width: 5px; 
    height: 5px;
 }
  
  /* Scrollbar Thumb */
  ::-webkit-scrollbar-thumb {
    background-color:  rgba(0, 255, 21, 0.171); 
    border-radius: 5px;
  }
  
  /* Scrollbar Thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color:  rgba(0, 255, 21, 0.536);
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  .list{
        height: 80%;
        width: 20%;
        overflow-y: auto;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 10px;
        padding: 20px 20px 150px 20px;
        border-right: 1px solid rgba(128, 128, 128, 0.195);
        border-radius: 5px;

        .styled {
            width: 100%;
            height: 20% !important;
            margin-bottom: 10px;
            border: 0;
            padding: 10px 15px;
            font-size: 0.9rem;
            font-weight: bold;
            text-align: center;
            color: #65ddf26d;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgba(0, 220, 213, 0.504);
            background-image: linear-gradient(
                to top left,
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2) 30%,
                rgba(0, 0, 0, 0)
            );
            box-shadow:
                inset 2px 2px 3px rgba(255, 255, 255, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, 0.6),
                2px 2px 5px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, transform 0.2s;
            cursor: pointer;
        }
        
        .styled:hover {
            color: #fff;
            background-color: rgb(35, 137, 220);
            transform: scale(1.03);
        }
        
        .styled:active {
            box-shadow:
                inset -2px -2px 3px rgba(255, 255, 255, 0.6),
                inset 2px 2px 3px rgba(0, 0, 0, 0.6);
            transform: scale(0.98);
        }
    }

.active {
  background-color: #e70c0cd7 !important;
  color: white !important;
  font-weight: bold;
}


.overall-wrapper {
  // background-image: url("/assets/2151266291.jpg");
  background-repeat: no-repeat; 
  background-position: fixed;  
  // height: 71.5%;
  border-radius: 5px;
}
