<div class="wraper">
    <div class="list">
        <!-- TypeScript Fundamentals -->
        <button class="styled" routerLink="basic-types">Basic Types</button>
        <button class="styled" routerLink="interfaces">Interfaces & Type Aliases</button>
        <button class="styled" routerLink="classes">Classes & Access Modifiers</button>
        <button class="styled" routerLink="enums-tuples">Enums & Tuples</button>
        <button class="styled" routerLink="functions">Functions & Function Types</button>
        <button class="styled" routerLink="generics">Generics Basics</button>
        <button class="styled" routerLink="type-inference">Type Inference</button>
        <button class="styled" routerLink="union-intersection">Union & Intersection Types</button>

        <!-- Intermediate TypeScript -->
        <button class="styled" routerLink="advanced-generics">Advanced Generics</button>
        <button class="styled" routerLink="utility-types">Utility Types</button>
        <button class="styled" routerLink="decorators">Decorators</button>
        <button class="styled" routerLink="mapped-types">Mapped Types</button>
        <button class="styled" routerLink="conditional-types">Conditional Types</button>
        <button class="styled" routerLink="type-guards">Type Guards</button>
        <button class="styled" routerLink="index-types">Index Types & keyof</button>
        <button class="styled" routerLink="modules-namespaces">Modules & Namespaces</button>

        <!-- Advanced TypeScript -->
        <button class="styled" routerLink="type-manipulation">Type Manipulation</button>
        <button class="styled" routerLink="advanced-inference">Advanced Inference</button>
        <button class="styled" routerLink="declaration-merging">Declaration Merging</button>
        <button class="styled" routerLink="symbol-types">Symbol Types</button>
        <button class="styled" routerLink="abstract-classes">Abstract Classes</button>
        <button class="styled" routerLink="mixins">Mixins</button>
        <button class="styled" routerLink="compiler-api">Compiler API</button>
        <button class="styled" routerLink="project-setup">Project Configuration</button>
        <button class="styled" routerLink="build-tools">Build Tools Integration</button>

        <!-- Interview Practice (TypeScript) -->
        <button class="styled" routerLink="type-patterns">Type System Design</button>
        <button class="styled" routerLink="generic-implementations">Generic Implementations</button>
        <button class="styled" routerLink="library-dev">Library Development</button>
        <button class="styled" routerLink="framework-integration">Framework Integration</button>
        <button class="styled" routerLink="migration">Migration Strategies</button>
        <button class="styled" routerLink="testing-typescript">Testing with TypeScript</button>
        <button class="styled" routerLink="performance-typescript">Performance Optimization</button>
    </div>

    <div class="sub-components-wraper">
        <router-outlet></router-outlet>
    </div>
</div>